/* Eigene Schriftarten einbinden: */

@font-face {
  font-family: 'Lucida';
  src: local('Lucida'), url('./Schriften/Lucida Calligraphy Italic.ttf');
}

@font-face {
  font-family: 'Private';
  src: local('Private'), url('./Schriften/RemachineScript_Personal_Use.ttf');
}

/* Header und Überschriften verwalten: */

header {
    background-color: white;
    opacity: 0.9;
    width: 100%;
    top: 0px;
    right: 0px;
    position: fixed;
}

h1 {
    font-family: Private;
    font-size: 40px;
    margin: 6px 0px 0px 10px;
    float: left;
}

h2 {
    margin: 65px 10px 15px 0px;
    font-family: Lucida;
    font-size: 30px; 
    text-align: left;
    background-color: #01DF74;
    width: 100%;
    height: 40px;
    border-top: 1px solid;
    border-left: 1px solid;
    padding-left: 10px;
}

/* Bilder und Videos verwalten: */

img{
    height:auto; 
    width:100%;
}

video{
    width: 100%;
    height: 100%;
}

/* Texte verwalten: */

article {
    margin: 0px 10px 10px 0px;
}

.rahmen_start {
    border: 1px solid #999;
    padding: 10px 10px 10px 10px;
    margin: 0px 0px 20px 1px;
}

.rahmen_aktuelles {
    border: 1px solid #999;
    padding: 10px 10px 10px 10px;
    margin: 0px 0px 20px 0px;
}

.rahmen_uebermich {
    border: 1px solid #999;
    padding: 10px 10px 10px 10px;
    margin: 0px 0px 20px 0px;
}

.rahmen_kontakt {
    border: 1px solid #999;
    padding: 10px 10px 10px 10px;
    margin: 0px 0px 20px 0px;
}

/* Float unterbrechen: */

.clear_float{
    clear:both;
}

/* Kontaktformular verwalten: */

form {
  background-color: #eee;
  width: 85%;
  padding: 20px;
  border: 1px solid #8c8c8c;
  border-radius: 10px;
  margin: 5px 0px 20px 0px;
}

label {
  display: block;
  cursor: pointer;
}

input#absender,
textarea {
  width: 100%;
  border: 1px solid #8c8c8c;
}

input#betreff,
textarea {
  width: 100%;
  border: 1px solid #8c8c8c;
}

input#name,
textarea {
  width: 100%;
  border: 1px solid #8c8c8c;
}

input:focus,
textarea:focus {
  background-color: #d9d9d9;
}

/* Navigation verwalten */

nav ul li:hover {
    background-color:green;
    opacity: 0.5;
    margin: 10px;
}

nav ul li {
    display: none;
}

nav ul:hover li{
    clear:both;
    font-family: Lucida;
    font-size: 20px;
    display:block;
    padding: 10px 10px 10px 0px;
}
nav ul::before {
  display: block;
  margin: 0px 10px 10px 0px;
  content: url(Grafiken/Icons/menu.jpg);
  float:right;
} 

/* Galerie verwalten: */

#gal{
    height: 805px;
    overflow:hidden;
    margin-top: 20px;
}

#gal ul{
    margin: 0px;
    padding: 0px;
    list-style:none;
}

#gal a{
    display:block;
    width:40px;
    height:35px;
    text-decoration:none;
}

#gal a.lft{
    background:url(Grafiken/Icons/pfeil1.jpg) no-repeat;
    margin-left: 29%;
    float: left;
}

#gal a.rgt{
    background:url(Grafiken/Icons/pfeil.jpg) no-repeat;
    margin-left: 66.6%;
}

#gal img{
    display:block;
    width: 100%;
    height: 40%;
    margin: 10px;
}

#socialmedia a{
    margin-right: 10px;
}

#Start{
    padding-top: 75px;
}

#Aktuelles{
    padding-top: 75px;
}

#Projekte{
    padding-top: 75px;
}

#Kontakt{
    padding-top: 75px;
}

#Uebermich{
    padding-top: 75px;
}