/* Eigene Schriftarten einbinden: */

@font-face {
  font-family: 'Lucida';
  src: local('Lucida'), url('./Schriften/Lucida Calligraphy Italic.ttf');
}

@font-face {
  font-family: 'Private';
  src: local('Private'), url('./Schriften/RemachineScript_Personal_Use.ttf');
}

/* Bilder und Videos verwalten: */

img {
    height:auto; 
    width:45%;
}

video{
    width: 100%;
    height: 100%;
    
}

/* Header und Überschriften verwalten: */

h1 {
    font-family: Private;
    font-size: 55px;
    margin: 0px 0px 0px 30px;
    float: left;
}

h2 {
    margin: 110px 10px 15px 0px;
    font-family: Lucida;
    font-size: 40px; 
    text-align: right;
    background-image: url(Grafiken/wiese.jpg);
    width: 100%;
    height: 55px;
    border-top: 1px solid;
    border-left: 1px solid;
    border-bottom-right-radius: 10px;
}

header {
    background: #FFFFFF;
    width: 100%;
    height: 110px;
    position: fixed;
    top: 0px;
    right: 0px;
    opacity: 0.9;
}

/* Texte verwalten: */

article {
    margin: 0px 50px 50px 50px;
}

.rahmen_start {
    border: 1px solid #999;
    padding: 10px 10px 10px 10px;
    margin: 0px 0px 20px 0px;
}

.rahmen_kontakt {
    border: 1px solid #999;
    padding: 10px 10px 10px 10px;
    margin: 0px 0px 20px 0px;
}

.rahmen_projekte {
    border: 3px solid #000000;
    padding: 30px 0px 150px 0px;
    margin: 0px 1px 0px 1px;
}

/* Float unterbrechen: */

.clear_float{
    clear:both;
}

/* Navigation verwalten: */

nav{
    float:left;
}
nav ul li:hover {
    text-decoration: underline;
    opacity: 0.5;
}
.navigation{
    display: inline;
    list-style-type: none;
    font-family: Lucida;
    font-size: 23px;
    margin: 0px 35px 0px 0px;   
}

/* Kontaktformular verwalten: */

form {
  border: 1px solid #8c8c8c;
  border-radius: 10px;
  background-color: #eee;
  width: 310px;
  padding: 20px;
  margin-bottom: 100px;
  float: left;
}

label {
  display: block;
  cursor: pointer;
}

input#absender,
textarea {
  width: 300px;
  border: 1px solid #8c8c8c;
}

input#betreff,
textarea {
  width: 300px;
  border: 1px solid #8c8c8c;
}

input#name,
textarea {
  width: 300px;
  border: 1px solid #8c8c8c;
}

input:focus,
textarea:focus {
  background-color: #d9d9d9;
}

/* Galerie verwalten */

#gal{
    width:100%;
    overflow:hidden;
    margin-top: 20px;
    margin-left: 20px;
    height: 618px;
}

#gal ul{
    list-style:none;
    margin: 0px;
    padding: 0px;
}

#gal li{
    width:90%;
    padding: 15px 15px 15px 35px;
    border: solid 2px black;
}

#gal a{
    display:block;
    width:40px;
    height:35px;
    text-decoration:none;
}

#gal a.lft{

    background:url(Grafiken/Icons/pfeil1.jpg) no-repeat;
    margin-left: 29%;
    padding-top: 15px;
    float: left;
}

#gal a.rgt{

    background:url(Grafiken/Icons/pfeil.jpg) no-repeat;
    margin-left: 66.6%;
}

#gal img{
    display: block;
    width: 45%;
    height: 250px;
    margin: 10px;
    display: inline;
}

#socialmedia{
    margin: 0px 500px 0px 410px;
}

#socialmedia a{
    padding: 0px 150px 0px 0px;
}

#Start{
    padding-top: 115px;
}

#Aktuelles{
    padding-top: 115px;
}

#Projekte{
    padding-top: 115px;
}

#Kontakt{
    padding-top: 115px;
}

#Uebermich{
    padding-top: 115px;
}