/* Eigene Schriftarten einbinden: */

@font-face {
  font-family: 'Lucida';
  src: local('Lucida'), url('./Schriften/Lucida Calligraphy Italic.ttf');
}

@font-face {
  font-family: 'Private';
  src: local('Private'), url('./Schriften/RemachineScript_Personal_Use.ttf');
}

/* Header und Überschriften verwalten: */

h1 {
    font-family: Private;
    font-size: 68px;
    margin: 0px 0px 0px 20px;
    float: left;
}

h2 {
    margin: 80px 0px 30px 0px;
    font-family: Private;
    font-size: 70px; 
    text-align: right;
    background-image: url(Grafiken/wiese.jpg);
    width: 100%;
    height: 80px;
    border-top: 1px solid;
    border-left: 1px solid;
    border-bottom-right-radius: 10px;
}

header {
    background: white;
    width: 100%;
    position: fixed;
    top: 0px;
    right: 0px;
    padding-bottom:0px;
    opacity: 0.9;
}

/* Texte verwalten: */

article {
    margin: 0px 50px 50px 50px;
}

.rahmen_projekte {
    border: 3px solid #000000;
    padding: 50px;
    padding-top: 70px;
    padding-bottom: 200px;
    margin-right: 50px;
    margin-left: 50px;
}

.rahmen_start {
    border: 1px solid #999;
    padding: 10px 10px 10px 10px;
    margin: 0px 0px 20px 0px;
}

.rahmen_aktuelles {
    border: 1px solid #999;
    padding: 10px 10px 10px 10px;
    margin: 0px 0px 20px 0px;
    height: 279px;
}

.rahmen_uebermich {
    border: 1px solid #999;
    padding: 10px 10px 10px 10px;
    margin: 0px 0px 20px 0px;
    height: 279px;
}

.rahmen_kontakt {
    border: 1px solid #999;
    padding: 10px 10px 10px 10px;
    margin: 0px 0px 20px 0px;
    width: 50%;
}

video{
    padding: 20px 0px 20px 0px;
    width: 100%;
    height: 600px;
}

/* Float unterbrechen: */

.clear_float{
    clear:both;
}

/* Navigation verwalten: */

.navigation{
    display: inline;
    list-style-type: none;
    font-family: Lucida;
    font-size: 20px;
    margin-right: 25px;   
}

nav {
    float:right;
    margin-top: 15px;
}

nav ul li:hover {
    text-decoration: underline;
    opacity: 0.5;
}

/* Kontaktformular verwalten: */

form {
  background-color: #eee;
  width: 310px;
  padding: 20px;
  border: 1px solid #8c8c8c;
  border-radius: 10px;
  margin-bottom: 50px;
  float: left;
}

label {
  display: block;
  cursor: pointer;
}

input#absender,
textarea {
  width: 300px;
  border: 1px solid #8c8c8c;
}

input#betreff,
textarea {
  width: 300px;
  border: 1px solid #8c8c8c;
}

input#name,
textarea {
  width: 300px;
  border: 1px solid #8c8c8c;
}

input:focus,
textarea:focus {
  background-color: #d9d9d9;
}

/* Galerie verwalten: */

#gal{
    width:85%;
    overflow:hidden;
    height: 848px;
    padding: 10px; 
    margin-left: 7%;
}

#gal ul{
    margin: 0px;
    padding: 0px;
    list-style:none;
}

#gal li{
    width:99%;
    border: solid 2px black;
}

#gal a{
    display:block;
    width:40px;
    height:35px;
    text-decoration:none;
}

#gal a.lft{
    background:url(Grafiken/Icons/pfeil1.jpg) no-repeat;
    margin-left: 29%;
    float: left;
}

#gal a.rgt{
    background:url(Grafiken/Icons/pfeil.jpg) no-repeat;
    margin-left: 66.6%;
}

#gal img{
    display:block;
    margin: 20px 0px 0px 35px;
    width: 45%;
    height: 390px;
    display:inline;
}

#socialmedia{
    margin: 0px 1500px 0px 400px;
}

#socialmedia a{
    padding-right: 100px;
}

#Start{
    padding-top: 95px;
}

#Aktuelles{
    padding-top: 95px;
}

#Projekte{
    padding-top: 95px;
}

#Kontakt{
    padding-top: 95px;
}

#Uebermich{
    padding-top: 95px;
}